body {
    background-color:#f2f7fd ;
}

h1{
    text-align: center;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #FEF400;
}
h2{
    color: #000000;
    font-style: italic;
    background-color: #EAEAEA;
}
h3 {
    color: #000000;
    font-style: italic;
}
p, ul, ol {
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
}