h1 {
    color:#CC2EFA ;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

body {
    background-color: #f7dcff;
}
.numero2 {
    text-align: center;
    font-style: initial;
    font-size:x-large;
}
footer {
    text-align: center;
    font-style: unset;
    font-size: medium;
}